.contact__content {
    max-width: 1230px;
    margin: 30px auto;
    color: #918071;
}

.contact__header {
    text-align: center;
}

.form {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.form__label--required {
    color: red;
}

.form__input {
    width: 70%;
}

input::placeholder {
    color: #918071;
}

.form__input--name {
    width: 45%;
    height: 40px;
    border: none;
    border-radius: 3px;
    padding: 5px 20px;
    outline: none;
    margin-right: 20px;
    background-color: #f4f4f4;
}

.form__input-gender {
    display: flex;
    justify-content: flex-start;
}

.form__label--radio {
    margin-right: 60px;
}

.form__input--radio {
    margin-right: 5px;
}

.form__input--email,
.form__input--text {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    padding: 5px 20px;
    outline: none;
    background-color: #f4f4f4;
}

.form__input--tel {
    width: 25%;
    height: 40px;
    border: none;
    border-radius: 3px;
    padding: 5px 20px;
    outline: none;
    background-color: #f4f4f4;
}

.form__input--dash {
    margin: 0 10px;
}

.form__select {
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 3px;
    padding: 5px 20px;
    outline: none;
    color: #918071;
    background-color: #f4f4f4;
}

.form__input--textarea {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 3px;
    padding: 20px;
    outline: none;
    background-color: #f4f4f4;
    resize: none;
}

textarea::placeholder {
    color: #918071;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    width: 150px;
    height: 40px;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 20px;
    cursor: pointer;
    background-color: #82756b;
}
