.header__inner {
    max-width: 1230px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__logo {
    color: #918071;
}

.header__button {
    color: #918071;
    border: 1px solid #eee6e0;
    background-color: #f6f6f6;
    padding: 4px 10px;
    text-decoration: none;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.main {
    background-color: #f1ece6;
    height: 100vh;
}

.login__content {
    width: 1230px;
    margin: 0 auto;
}

.login__header {
    text-align: center;
    color: #918071;
    padding: 20px 0;
    font-size: 24px;
}

.form {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 40px 60px 60px;
    text-align: center;
    border: 1px solid #e1dcd6;
    background-color: #fff;
    color: #918071;
}

.form__label {
    width: 70%;
    text-align: left;
    font-size: 24px;
    margin-top: 30px;
}

.form__input {
    width: 70%;
    margin-top: 10px;
}

.form__input-text {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 10px 20px;
    background-color: #f4f4f4;
}

.form__input-text::placeholder {
    color: #918071;
}

.form__button {
    margin-top: 60px;
}

.form__button-submit {
    width: 100px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #82756b;
    padding: 10px 20px;
    cursor: pointer;
}